div(style=***REMOVED***background: '#0a0c1c', color: '#fff'***REMOVED*** class="flex items-center white justify-center courier")
  div(style=***REMOVED***'color':'#fff', 'max-width': '70%', 'min-width': '50%'***REMOVED***)
    div(class="flex flex-row tc justify-between")
      div
        span(class="mr2 gray") Start:
        span #***REMOVED***startedTestsAt***REMOVED***
      div
        span(class="mr2 gray") End:
        span #***REMOVED***endedTestsAt***REMOVED***
      div
        span(class="mr2 gray") Duration:
        span #***REMOVED***totalDuration/1000***REMOVED***s

    table(class="mt4" style=***REMOVED***width:'100%', 'border-collapse': 'collapse', color: '#fff'***REMOVED***)
      thead
        tr(style=***REMOVED***'border-bottom':'1px solid #555'***REMOVED***)
          th(class="pa2 tl normal gray") Spec
          th(class="pa2 tc normal gray") Tests
          th(class="pa2 tc normal gray") Passing
          th(class="pa2 tc normal gray") Failing
          th(class="pa2 tc normal gray") Pending
          th(class="pa2 tc normal gray") Skipped
      tbody
        each test in runs
          tr(style=***REMOVED***'border-bottom':'1px solid #555', 'border-left': '1px solid #555', 'border-right': '1px solid #555'***REMOVED***)
            td(class="pa2 tracked")
              if test.stats.tests == (test.stats.passes + test.stats.pending + test.stats.skipped)
                span(class="mr2" style=***REMOVED***'font-size': '10px'***REMOVED***) ✅
              else
                span(class="mr2" style=***REMOVED***'font-size': '10px'***REMOVED***) ❌
              = test.spec.name
            td(class="pa2 tc white")
              = test.stats.tests
            td(class="pa2 tc")
              if test.stats.passes == 0
                span(class="gray") -
              else
                span(class="green") #***REMOVED***test.stats.passes***REMOVED***
            td(class="pa2 tc")
              if test.stats.failures == 0
                span(class="gray") -
              else
                span(class="red") #***REMOVED***test.stats.failures***REMOVED***
            td(class="pa2 tc")
              if test.stats.pending == 0
                span(class="gray") -
              else
                span(class="blue") #***REMOVED***test.stats.pending***REMOVED***
            td(class="pa2 tc gray")
              = test.stats.skipped == 0 ? '-' : test.stats.skipped
      tfoot
        tr
          td(class="pa2 tracked")
            if (totalPassed + totalPending + totalSkipped) == totalTests
              span(class="green") All specs passed!
            else
              span(class="red") #***REMOVED***totalFailed***REMOVED*** out of #***REMOVED***totalTests***REMOVED*** failed (#***REMOVED***Math.floor(totalFailed*100/totalTests)***REMOVED***%)

          td(class="pa2 tc")= totalTests
          td(class="pa2 tc")
            if totalPassed > 0
              span(class="green")= totalPassed
            else
              span(class="gray") -
          td(class="pa2 tc")
            if totalFailed > 0
              span(class="red")= totalFailed
            else
              span(class="gray") -
          td(class="pa2 tc")
            if totalPending > 0
              span(class="blue")= totalPending
            else
              span(class="gray") -
          td(class="pa2 tc gray")
            = totalSkipped > 0 ? totalSkipped : '-'

    each run in runs
      if run.stats.failures > 0
        div(class="mt6 mb4 flex flex-column")
          //- if run.gif
          //-   div
          //-     img(src=run.gif)/
          //-   div(class="f6 center")= run.gif
          //- if run.webm
          //-   div
          //-     video(src=run.webm class="w-100" controls autoplay loop)
          //-   div(class="f6 center")= run.webm
          if run.video
            div
              video(src=run.video class="w-100" controls autoplay loop)
            div(class="f6 center")= run.video
          each test in run.tests
            if test.stack
              div(class="flex flex-column white")
                span Stack:
                pre(style=***REMOVED***'white-space': 'pre-wrap', 'word-wrap':'break-word'***REMOVED***) #***REMOVED***test.stack***REMOVED***
        //- table(class="mt4" style=***REMOVED***width:'100%', 'border-collapse': 'collapse'***REMOVED***)
        //-   tbody
        //-     tr
        //-       td(colspan="6")
        //-         div(class="mt6 mb4 flex flex-column")
        //-           if run.gif
        //-             div
        //-               img(src=run.gif)/
        //-             div(class="f6 center")= run.gif
        //-           each test in run.tests
        //-             div(class="mt4 mb4 flex flex-column white")
        //-               span Stack
        //-               pre #***REMOVED***test.stack***REMOVED***
